body{
    padding: 0;
    margin: 0;
    background: #007d2f;
    font-family: 'Montserrat', sans-serif;
}
.headd{
    background-color: #ffffff;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;

}
.headd img{
    margin: 15px 0px 15px 0px;
    width: 68px;
    height: 68px;
}
.headd .navbar-nav .nav-link{
    list-style: none;

    font-size: 12px;
    font-weight: bold;
    color: black;
    font-family: 'Montserrat', sans-serif ;
   
    


}
header h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;  
    font-weight: 400px;
    align-items: center; 
    color: #171717;
    margin: 110px 0px 30px 0px;
}
header p{
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400px;
    margin-bottom: 100px;
    width: 540px;

}
.text{
    text-align: center;
}
.p{
    display: flex;
    justify-content: center;
}
a{
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #007d2f;
}
.images{
    text-align: center;
}

.posit{
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  
   
  }
  .divover{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color:#007d2f;
      opacity: 0.5;
      left: 600px;
     background-image: url(./images/pe-7s-look.png);
     background-repeat: no-repeat;
     background-position: center;
      transition: 500ms;
    
  }
  
  
  .posit:hover .divover{
    
    left: 0;
     
    
     
  }
  section img{
      width: 100%;
      height: 400px;
  }
.posit.col-lg-3.col-md-6.col-12{
      padding: 0;
  } 
  


footer .bottom {
   
    flex-wrap: wrap;
    background-color: #141414;
    width: 100%;
    margin: 0;
    padding-top: 100px;
}
footer .bottom h2{
    color: #939393;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400px;  
    margin: 0px 0px 30px 0px; 
    width: 240px;
}
footer .bottom p{
    color: #939393;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400px; 
    margin: 0px 0px 100px 0px;  
    width: 240px;  
}
.div1{
    
    display: flex;
    justify-content: center;
}
.div{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer .div1 p{
    color: #939393;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400px; 
    margin: 0px 0px 140px 0px;  
    width: 150px; 
}
footer li{
    color: #939393;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400px;
    margin-right: 10px; 
} 
footer ul{
    list-style: none;
    padding: 0px;
}
footer .menu{
    display: flex;
    justify-content: center;
    margin: 0px 0px 95px 0px;
}


